# ----- VSCode -----------------------------------------------------------------

.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json

# ----- Go ---------------------------------------------------------------------

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.prof

# ----- macOS ------------------------------------------------------------------

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two 
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ----- Project ----------------------------------------------------------------

openefs
python/prototyping/*
python/*.h5